<div class="container">
	<div class="row">
		<h2>Choose Your Diet Plan!</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<h3 class="pageonebuttonone">Make Yourself Healthy</h3>
			</div>
			<div class="row">
				<h4 class="pageonetextone">This plan will help you maintain your weight at the same time as consuming all the the necessary vitamins. This plan is recommended for beginners who have not successfully held to a diet before or are starting their first.</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<h3 class="pageonebuttontwo">Help You Lose Weight</h3>
			</div>
			<div class="row">
				<h4 class="pageonetexttwo">This diet will help you to lose weight while consuming the necessary nutrients. It is best to plan for a few workouts per week on this plan for maximum results. It is recommended to re-evaluate your diet on this plan regularly.</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<h3 class="pageonebuttonthree">Help You Gain Weight</h3>
			</div>
			<div class="row">
				<h4 class="pageonetextthree">This plan will help you gain weight. With the necessary nutrients and workouts, you can achieve great strength and lean muscle. This diet is recommended after a month of the Make me Healthy plan or for experienced dieters.</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h5 class="pageonebuttonfour">Resources</h5>
		</div>
	</div>
</div>