<div class="container">
	<div class="row">
		<h2>Make Yourself Healthy</h2>
	</div>
	<div class="row">
		<div class="col-md-6 infotable">
			<h6>Please enter in your information here:</h6>
			<br>
			<form>
				<h7>Weight(lbs): </h7>
				<input type="number" name="Weight(Lbs)">
				<br>
				<h7>Height(in): </h7>
				<input type="number" name="Height(in)">
				<br>
				<h7>Age: </h7>
				<input type="number" name="age">
			</form>
		</div>
		<div class="col-md-6 infotable">
			<h6>Here are your results:</h6>
			<br>
			<form>
				<h7>Calories needed: </h7>
				<input type="number" name="Cals">
				<br>
				<h7>Protein needed: </h7>
				<input type="number" name="Pro">
				<br>
				<h7>Carbohydrates needed: </h7>
				<input type="number" name="carbs">
				<br>
				<h7>Fat needed: </h7>
				<input type="number" name="fat">
			</form>
			<h7>Your Vitamins will be show latter on.</h7>

		</div>
	</div>
	<div class="row">
		<div class="col-md-2 backbtn">
			<h5>Backs</h5>
		</div>
		<div class="col-md-8"></div>
		<div class="col-md-2 nextbtn">
			<h5>Next</h5>
		</div>
	</div>
</div>