<div class="container">
	<div class="row">
		<h2>Make Yourself Healthy</h2>
	</div>
	<div class="row">
		<div class="col-md-6 infotable">
			<h6>Please enter in your information here:</h6>
			<br>
			<form onsubmit="event.preventDefault()">
				<h7>Weight(lbs): </h7>
				<input type="number" value="0" id="myhWeight" name="Weight(Lbs)">
				<br>
				<h7>Height(in): </h7>
				<input type="number" value="0" id="myhHeight" name="Height(in)">
				<br>
				<h7>Age: </h7>
				<input type="number" value="0" id="myhAge" name="age"><br>
				<input type="submit" value="Submit" id="myhCalc">
			</form>
		</div>
		<div class="col-md-6 infotable">
			<h6>Here are your results:</h6>
			<br>
			<form>
				<h7>Calories needed: </h7>
				<input type="number" value="0" id="myhCals" name="Cals">
				<br>
				<h7>Protein needed(gr): </h7>
				<input type="number" value="0" id="myhPro" name="Pro">
				<br>
				<h7>Carbohydrates needed(gr): </h7>
				<input type="number" value="0" id="myhCarbs" name="carbs">
				<br>
				<h7>Fat needed(gr): </h7>
				<input type="number" value="0" id="myhFat" name="fat">
			</form>
			<h7>Your Vitamins will be show latter on.</h7>

		</div>
	</div>
	<div class="row">
		<div class="col-md-2 backbtn">
			<h5 id="myhPageOneBack">Backs</h5>
		</div>
		<div class="col-md-8"></div>
		<div class="col-md-2 nextbtn">
			<h5 id="myhPageOneNext">Next</h5>
		</div>
	</div>
</div>