<div class="container">
	<div class="row">
		<h2>Make Yourself Healthy</h2>
	</div>
	<div class="row">
		<div class="col-md-2 backbtn">
			<h5 id="myh2PageTwoBack">Backs</h5>
		</div>
		<div class="col-md-8"></div>
		<div class="col-md-2 nextbtn">
			<h5 id="myh2PageTwoNext">Next</h5>
		</div>
	</div>
</div>