<div class="row">
	<h2>Here Are All The Resources Used</h2>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div id="resourceLogic" class="col-md-8">
	<div class="col-md-2"></div>
	</div>
</div>