body {
	background-image: url("./backgounrd.jpg");
	text-align: center;
}

h1 {
 font-size: 4em;
 font-weight: bold;
 color: black;
 background-image: url("./divback.jpg");
 padding: .8em;
 margin: 0em;
}
h2 {
	color: black;
	font-weight: bold;
	background-image: url("./divback.jpg");
	border-radius: 10px;
	margin-top: 1.5em;
	padding: 1em;
}
h3 {
	font-size: 2.2em;
	color: black;
	background-color: gray;
	padding: .8em;
	margin: 1.2em;
	margin-top: 3em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 4em;
	text-align: center;
	vertical-align: middle;
}
.pageOneButtonOne {
	background-color: lightgreen;
}
.pageOneButtonTwo {
	background-color: lightskyblue;
}
.pageOneButtonThree {
	background-color: red;
}
.pageOneTextOne {
	color: lightgreen;
	margin: .5em;
}
.pageOneTextTwo {
	color: lightskyblue;
	margin: .5em;
}
.pageOneTextThree {
	color: red;
	margin: .5em;
}
.pageOneButtonFour {
	font-size: 1.5em;
	color: black;
	background-image: url("./divback.jpg");
	padding: .8em;
	padding-bottom: 1.6em;
	margin: 1.2em;
	margin-top: 3em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 2em;
	text-align: center;
}
.dataDesign {
	margin: .5em;
	font-size: 1em;
	color: black;
	background-image: url("./divback.jpg");
}
h6 {
	color: black;
	font-size: 1.8em;
}
.infotable {
	background-image: url("./divback.jpg");
	color: black
}
h7 {
	color: black;
	font-size: 1.5em;

}
.backbtn {
	font-size: 1.5em;
	color: black;
	background-image: url("./divback.jpg");
	padding: .8em;
	padding-bottom: 1.6em;
	margin: 1.2em;
	margin-top: 3em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 2em;
	text-align: center;
	float: left;
}
.nextbtn {
	font-size: 1.5em;
	color: black;
	background-image: url("./divback.jpg");
	padding: .8em;
	padding-bottom: 1.6em;
	margin: 1.2em;
	margin-top: 3em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 2em;
	text-align: center;
	float: right;
}
/* myheathly css ------------------------------------- */

#myhPageOneNext {
	font-weight: bold;
	text-align: center;
	padding-bottom: 1.2em;
}
#myhPageOneBack {
	font-weight: bold;
	text-align: center;
	padding-bottom: 1.2em;
}

input {
	float: right;
}

#myhCalc {
	font-size: 1.5em;
	color: black;
	padding: .8em;
	margin: 1em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 2em;
	text-align: center;
	font-weight: bold;
	background-image: url("./divback.jpg");
	padding-bottom: 2.2em;
}
#hlwCalc {
	font-size: 1.5em;
	color: black;
	padding: .8em;
	margin: 1em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 2em;
	text-align: center;
	font-weight: bold;
	background-image: url("./divback.jpg");
	padding-bottom: 2.2em;
}
#hgwCalc {
	font-size: 1.5em;
	color: black;
	padding: .8em;
	margin: 1em;
	border-radius: 25px;
	border: none;
	cursor:pointer;
	height: 2em;
	text-align: center;
	font-weight: bold;
	background-image: url("./divback.jpg");
	padding-bottom: 2.2em;
}

#myhTextSupport {
	margin: 1.5em;
}